body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color:rgb(86, 69, 99);
    transition: background-color 0.5s ease;
    
}
body h2 {
    background-color: #fcb61fa6;
    color: white;
    height: 38px;
    vertical-align: middle;
    padding-top: 10px;
    transition: background-color 0.2s ease-in-out;
}
body h2:hover {
    background-color: #fcb61f75;
}
.about-me {
    font-size:40px;
    line-height: 1.5;
    color: white;
    background-color: #fd5619bd;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: background-color 0.3s ease-in-out;
    
}
.about-me:hover {
    background-color: #fd561986;
}
.light-mode {
    background-color: rgb(245, 245, 245);
    color: rgb(63, 50, 73);
}
.dark-mode {
    background-color: rgb(62, 56, 66);
    color: rgb(230, 230, 230);
}
.github-button {
    background-color: #786fa6;
    color: white;
    border:none;
    height: 36px;
    width: 74px;
    border-radius:18px;
    font-weight: bold;
    font-size: 15px;
    cursor:pointer;
    transition: all 0.15s ease;
}

.github-button:hover {
    transform: scale(1.02);
    background-color: 	#574b90;
    box-shadow: 2px 2px 20px #00000033;
}

.linked-button {
    margin-left: .5rem;
    background-color: #3dc1d3;
    color: white;
    border:none;
    height: 36px;
    width: 74px;
    border-radius:18px;
    font-weight: bold;
    font-size: 15px;
    cursor:pointer;
    transition: all 0.15s ease;
}

.linked-button:hover {
    background-color: 	#2ca3b3;
    box-shadow: 2px 2px 20px #00000033;
    transform: scale(1.02);
}
#toggle {
    width: 20%;
    border-color: rgb(190, 137, 58);
    border-style: solid;
    border-width: 1px;
    border-radius: .5rem;
    height: 25px;
    transition: width 0.5s ease-in-out, background-color 0.15s;
    outline: none;
}
#toggle:focus {
    border: 2px solid rgb(190, 137, 58);
    width:25%;
}
.light-dark-button {
    background-color: 	#ff6f69;
    color: white;
    border:none;
    height: 36px;
    width: 150px;
    border-radius:18px;
    font-weight: bold;
    font-size: 15px;
    cursor:pointer;
    transition: all 0.15s ease;
}

.light-dark-button:hover {
    background-color: 	#dd464e;
    box-shadow: 2px 2px 20px #00000033;
    transform: scale(1.02);
}
#skill-table {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 50%;
    top: 50%;
    width: 30%;
    /* border: 2px solid #b9bb55; */
    /* padding: 6px; */
    vertical-align: middle;
    /* box-sizing: border-box; */
    /* display:table; */
    border-collapse: collapse;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}
#skill-table td, #skill-table th {
    padding:6px;
    padding-left: 15px;
    padding-right: 15px;
    height: 25px;
    border-bottom: 1px solid #ddd;
    
}
#skill-table tr:nth-child(even) {
    background-color: #00000010;
}
#skill-table tr {
    transition: all 0.15s ease-in;
    cursor: pointer;
}
#skill-table tr:hover {
    background-color: rgba(0, 0, 0, 0.205);
    transform: scale(1.02);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px -1px 8px rgba(0, 0, 0, 0.1);
}
#skill-table th {
    background-color: #3dc1d3;
}
.name {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
